{% extends "layout.html" %}
{%block title %}Home{% endblock %}
{%block header_block %}
 {% endblock %}

 {% block top_left_menu %}
 <li id="nav_menu_home"><a href="/">Home</a></li>
 <li id="nav_menu_photos"><a href="/photos">Photos</a></li>
 <li id="nav_menu_upload"><a href="/photos/upload">Upload</a></li>
 <li id="nav_menu_photos"><a href="/opentok">Video</a></li>
 {% endblock %}

 {%block top_right_menu %}
<ul class="nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Account
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/settings/">Settings</a></li>
        <li>
            <!--FIXME: add CSRF token and override bootstrap form style-->
        <form method="post" action="/logout/">
            <a class="" href="#" onclick="$(this).parent().submit()">Logout</a>
        </form>
        </li>
    </ul>
  </li>
  
</ul>
 {% endblock %}


{%block content %}
{% endblock %}

{%block jquery_block %}
<script type="text/javascript">
$(document).ready(function(){
        
});//end document.ready
</script>
{%endblock%}
