{% extends "logged_in.html" %}
{%block title %}Your photos{% endblock %}
{%block header_block %}
 {%endblock%}

{%block content %}
All kinds of photos with selectable layout: calendar view, data mashup view, transformation gif, etc.
    <ul id="all_photos" class="thumbnails">
    </ul>
{% endblock %}

{%block jquery_block %}
     <script type="text/javascript">
         $(document).ready(function(){
                 console.log('doing stuff')
                 $.ajax({
                    crossDomain: false,
                    type:'get',
                    url:"{{url_for('photos.index')}}",
                    dataType:'json',
                    success: function(results) {
                    console.log(results);
                        var items_html="";
                        $.each(results['files'],function(index,value){
                            //FIXME: you are stupidly mixing server side templating with a client-side each loop. wtf
                            //"{{url_for('photos.show_photo',photo_id='')}}";
                            //FIXME: serve up thumbnails at image_path+value+"thumb"
                            //right now youre serving the full images shrunk down which is super slow
                            var image_path = '/photos/detail_view/';
                            console.log(image_path);
                            var image_link = '<li class="span4"><a class="thumbnail" href="'+image_path+value+'">' + '<img src="'+'/photos/'+value+'"/>'+'</a></li>';
                            items_html+=image_link;
                            console.log(image_link);
                        });
                        $('#all_photos').html(items_html);
                    }

                     });
                 });
             </script>
{%endblock%}
